<a href="https://colab.research.google.com/github/faseycranco/stc510/blob/main/STC510_M3_Basics_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

"We want to know where different kinds of crimes are occurring, in which areas crime is growing fastest (or dropping fastest), and whether certain crimes are more common in certain areas of the city. Basically, we don't need maps or anything at this stage, just some data grouped by location (either the type of location or the zip codes) and some trend data."

In [25]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt
df = pd.read_csv('crimestat (1).csv',quoting=csv.QUOTE_NONE)
df.columns = [col[1:-1] for col in df.columns]

The above brings in the .csv file as a dataframe and then deletes the double quotation marks frome the column titles.

In [26]:
df

               INC NUMBER  ...                     PREMISE TYPE
0       "201600000052855"  ...            "SINGLE FAMILY HOUSE"
1       "201600000594484"  ...            "SINGLE FAMILY HOUSE"
2       "201500002102327"  ...                      "APARTMENT"
3       "201500002101405"  ...            "SINGLE FAMILY HOUSE"
4       "201500002102668"  ...            "SINGLE FAMILY HOUSE"
...                   ...  ...                              ...
131672  "201700002027239"  ...     "CONVENIENCE MARKET / STORE"
131673  "201700002025582"  ...                      "APARTMENT"
131674  "201700002024523"  ...  "ABANDONED/CONDEMNED STRUCTURE"
131675  "201700002030009"  ...            "SINGLE FAMILY HOUSE"
131676  "201700002107372"  ...                               "A

[131677 rows x 7 columns]

The following then sorts the .csv data primarily by zipcode and secondarily by crime catagory.

In [22]:
df.sort_values(by=['ZIP','UCR CRIME CATEGORY'],ascending=[False,False],inplace=True)
df

               INC NUMBER  ...                           PREMISE TYPE
113612  "201700001423294"  ...                          "PARKING LOT"
115872  "201700001479521"  ...                          "PARKING LOT"
125511  "201700001816063"  ...         "OFFICE / COMMERCIAL BUILDING"
109197  "201700001371092"  ...                            "APARTMENT"
16316   "201600000224128"  ...                              "UNKNOWN"
...                   ...  ...                                    ...
130126  "201700001966294"  ...             "BAR / LOUNG / NIGHT CLUB"
130536  "201700001982153"  ...  "STREET / ROADWAY / ALLEY / SIDEWALK"
63086   "201700001136425"  ...                            "APARTMENT"
79792   "201700000206086"  ...                      "SPECIALTY STORE"
82369   "201700000368400"  ...              "FENCED RESIDENTIAL YARD"

[131677 rows x 7 columns]

The following groups the .csv data by zip codes.

In [5]:
df.ZIP.value_counts()
crimes_by_zip = df.groupby(['ZIP'])
type(crimes_by_zip)

pandas.core.groupby.generic.DataFrameGroupBy

When ran, the following will ask for a zipcode. When one is entered, it will display all crimes from that zip code.

In [8]:
print('Please enter a Phoenix zip code:')
crimes_by_zip.get_group('"'+input()+'"')

Please enter a Phoenix zip code:
85396

               INC NUMBER  ...                    PREMISE TYPE
113612  "201700001423294"  ...                   "PARKING LOT"
115872  "201700001479521"  ...                   "PARKING LOT"
125511  "201700001816063"  ...  "OFFICE / COMMERCIAL BUILDING"
109197  "201700001371092"  ...                     "APARTMENT"

[4 rows x 7 columns]

In [48]:
keywords = ['"RAPE"','"AGGRAVATED ASSAULT"','"ROBBERY"','"HOMICIDE"']
def violent_check(x):
  for keywords in x:
    return True
  else:
    return False

In [49]:
df['VIOLENT'] = df['UCR CRIME CATEGORY'].apply(violent_check).inplace=True
df

               INC NUMBER  ... VIOLENT
0       "201600000052855"  ...    True
1       "201600000594484"  ...    True
2       "201500002102327"  ...    True
3       "201500002101405"  ...    True
4       "201500002102668"  ...    True
...                   ...  ...     ...
131672  "201700002027239"  ...    True
131673  "201700002025582"  ...    True
131674  "201700002024523"  ...    True
131675  "201700002030009"  ...    True
131676  "201700002107372"  ...    True

[131677 rows x 8 columns]

Warning: total number of rows (131677) exceeds max_rows (20000). Limiting to first (20000) rows.

Create a column that says whether or not a crime is violent. If there's time, try to plot number of crimes by month. Save it all to a new .csv

or plot number of vliolent crimes by zip code and sort by date.