<a href="https://colab.research.google.com/github/faseycranco/stc510/blob/main/STC510_M3_Basics_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

"We want to know where different kinds of crimes are occurring, in which areas crime is growing fastest (or dropping fastest), and whether certain crimes are more common in certain areas of the city. Basically, we don't need maps or anything at this stage, just some data grouped by location (either the type of location or the zip codes) and some trend data."

Group by zipcode, add new column for violent or non-violent crime, maybe use regex to search by month, plot the counts over time.

In [46]:
import pandas as pd
import csv
crimes = pd.read_csv('crimestat (1).csv',quoting=csv.QUOTE_NONE)

In [47]:
crimes

             "INC NUMBER"  ...                   "PREMISE TYPE"
0       "201600000052855"  ...            "SINGLE FAMILY HOUSE"
1       "201600000594484"  ...            "SINGLE FAMILY HOUSE"
2       "201500002102327"  ...                      "APARTMENT"
3       "201500002101405"  ...            "SINGLE FAMILY HOUSE"
4       "201500002102668"  ...            "SINGLE FAMILY HOUSE"
...                   ...  ...                              ...
131672  "201700002027239"  ...     "CONVENIENCE MARKET / STORE"
131673  "201700002025582"  ...                      "APARTMENT"
131674  "201700002024523"  ...  "ABANDONED/CONDEMNED STRUCTURE"
131675  "201700002030009"  ...            "SINGLE FAMILY HOUSE"
131676  "201700002107372"  ...                               "A

[131677 rows x 7 columns]

In [48]:
crime_by_zip = crimes.groupby('"ZIP"')

Nothing specified, nothing added.
Maybe you wanted to say 'git add .'?